.SideBarTree {
	min-height: 100vh;
	background-color: #FFF;
}

.SideBarTree .inner {
	padding: 50px 30px 30px 30px;
}

.container-sidebar {
	display: grid;
	grid-template-columns: 280px 1fr;
}

.mainContent {
	padding: 20px 50px 50px 50px;
}

.SideBarTree-logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto 30px auto;
}

.SideBarTree-logo .SideBarTree-logo-inner {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #FFF;
	border: 4px solid #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 10px rgba(0,0,0,.3);
	overflow: hidden;
}

.SideBarTree-logo img {
	flex: 0 1 auto;
	max-width: 100%;
}

.SideBarTree-logo .SideBarTree-logo-inner.no-logo {
	background-color: var(--color-green-light);
}

.SideBarTree-region {
	color: var(--color-blue-dark);
	margin-bottom: 25px;
	font-size: 1.2em;
	position: relative;
}

.SideBarTree button.companyOverview {
	appearance: none;
	border: 0;
	border: 0;
	padding: 0;
	font-size: 1.2em;
	background: transparent;
	color: var(--color-blue-dark);
	margin-bottom: 20px;
	text-align: left;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	font-weight: 800;
}

.SideBarTree button.companyOverview.active,
.SideBarTree button.companyOverview:hover {
	color: var(--color-green);
	border-color: currentColor;
}

.SideBarTree-region button.link {
	appearance: none;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	color: var(--color-blue-dark);
	font-size: 1em;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	font-weight: 800;
}

.SideBarTree-region button.sublink {
	appearance: none;
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
	color: var(--color-blue-dark);
	font-weight: 500;
	font-size: 1em;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: opacity .2, border-color .2s;
}

.SideBarTree-region button.sublink:hover,
.SideBarTree-region button.sublink.active {
	color: var(--color-green);
	border-color: currentColor;
	opacity: 1;
}

.SideBarTree-region button.link:hover,
.SideBarTree-region button.link.active {
	color: var(--color-green);
	border-color: currentColor;
}

.SideBarTree-region button.expand {
	appearance: none;
	border: 0;
	padding: 0;
	margin: 0 10px 0 0;
	color: inherit;
	border-radius: 0;
	background: transparent;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-image: url(../../assets/svg/arrow.svg);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	border-radius: 50%;
	transition: background-color .2s, transform .3s ease-out;
}

.SideBarTree-region button.expand:hover {
	background-color: rgba(0,0,0,.1);
}

.SideBarTree-region button.expand.active {
	transform: rotate(-180deg);
}

.SideBarTree-region .wrapper {
	padding-top: 5px;
	transition: height .3s ease-out;
}

.SideBarTree-region ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: .9em;
	padding-left: 15px;
}

.SideBarTree-region ul li {
	padding: 8px 0;
}