@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROEXTRALIGHT.woff") format("woff");
	font-weight: 200;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROLIGHT.woff") format("woff");
	font-weight: 300;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPRO.woff") format("woff");
	font-style: 'Regular';
	font-weight: 400;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROMEDIUM.woff") format("woff");
	font-weight: 500;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROBOLD.woff") format("woff");
	font-weight: 700;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROHEAVY.woff") format("woff");
	font-weight: 800;
}
@font-face{
	font-family:"Mark";
	src:url("../../assets/fonts/MARKPROBLACK.woff") format("woff");
	font-weight: 900;
}