.ConsumptionOverview h1 {
	font-size: 2em;
	margin: 0 0 20px 0;
}

.ConsumptionOverview .sections {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 30px;
}

.ConsumptionOverview .sections .part h3 {
	font-size: 1.1em;
	margin-bottom: 5px;
}

.ConsumptionOverview .sections .part p {
	font-size: 1.7em;
	font-weight: bold;
}

.ConsumptionOverview .sections .part p span.suffix {
	font-size: .7em;
}