table.Table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
}

table.Table th,
table.Table td {
	padding: 12px 12px 12px 0;
}

table.Table th {
	padding-bottom: 18px;
}

table.Table thead th {
	border-bottom: 1px solid var(--color-black);
	font-weight: bold;
}

table.Table td.select-box {
	width: 40px;
}

a.download-button {
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	background-image: url(../../assets/svg/icon-download.svg);
	text-indent: -9999px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

form.form-select {
	margin-left: -40px;
}